{% extends "appointment/base.html" %}
{% block content %}
<br>
<br>
<br>
<br>
<h3 class="w3-center">ZAKAZIVANJE TERMINA </h3><br>
{% if messages %}

    {% for message in messages %}
    <p class="w3-center p-2 text-white bg-opacity-75 fs-1 bg-{{ message.tags }}">{{ message }}</p>
    {% endfor %}

{% endif %}

    <h2 class="w3-center bg-danger text-white my-3 px-3">{{ termin_counter   }}</h2>

    <div class="mb-3 row justify-content-center ">
    <br>

    <br>
    <div class="col-md-auto col-sm-auto col-lg-4 shadow-lg p-3 mb-5 bg-body rounded {% if viewname != "termin" %}w3-hide{% endif %}" id="prva-forma" >

        <form method="post" class="w3-margin">
            {% csrf_token %}
            <label>Izaberite uslugu: </label>
            <select class='w3-select' name="usluga" required="required" id="id_usluga" style="-webkit-appearance: none;">
                <option selected disabled value=""></option>
                {% with value=form.usluga.value %}
                {% for value in form.usluga.field.choices.queryset %}
                <option title="{{value}}" value="{{ value.id }}"{% if value.id == 15 or value.id == 14 or value.id == 13 %}disabled{% endif %}>{{ value }}</option>
                {% endfor %}
                {% endwith %}
                </select>
                <br>
                <label><br>Izaberite frizera: </label>
                <select class='w3-select' name="frizer" required="required" id="id_frizer" style="-webkit-appearance: none;">
                    <option selected disabled value=""></option>
                    {% with value=form.frizer.value %}
                    {% for value in form.frizer.field.choices.queryset %}
                    <option title="{{value}}" value="{{ value.id }}">{{ value }}</option>
                    {% endfor %}
                    {% endwith %}
                </select>
                <label><br>Izaberite datum: </label><br>
                <input required style=" padding: 20 5; width: 100%; margin-bottom: 4px;" class="w3-select" type="date" name="datum" id="datum" style="border: none; "><br><br>
                
                
            <button class="btn btn-secondary"  name="form_filter_button"  id="first_form_button" style="-webkit-appearance: none;">Izaberite termin <i class="fa fa-arrow-right"></i></button>
        </form>
        <br>

    </div>

    <div class="col-md-auto col-sm-auto col-lg-4 shadow-lg p-3 mb-5 bg-body rounded {% if viewname != "potvrdi" %}w3-hide{% endif %}" id="druga-forma">
        <form class="w3-margin" action="" method="post" id="potvrdi-form">


            {% csrf_token %}
            {% if user.is_superuser %} 
                <label>Ime i Prezime: </label><br>
                <input required style=" padding: 20 5; width: 100%; margin-bottom: 4px;" class="w3-select" type="text" name="name" >

                <label>Broj telefona: </label><br>
                <input required style=" padding: 20 5; width: 100%; margin-bottom: 4px;" class="w3-select" type="text" name="broj_telefona" > 
            {% endif %}

            <label>Izaberite termin: </label><br>
            {{ form.vreme }}
            <label class="mt-2">Ostavite poruku: <span style="opacity: 0.5;">(opciono)</span></label><br>
            
            {{ form.poruka }}
            <br>
            <div class="row mt-3">
            <div class="col">
            <input style=" padding: 20 5; width: 100%; margin-bottom: 4px;" class="btn btn-success" name="zakazi_termin" type="submit" value="ZAKAŽI">
            </div>
            <div class="col">
            <a href="{% url 'termin' %}" class="btn"> <i class="fa fa-arrow-left"> </i> Izmena unosa</a>
            </div>
            </div>
        </form>
        <div style="display:none;" id="nema-termina">
            <h1 class="bg-secondary w3-padding text-white" >Nema dostupnih termina za ovaj dan !</h1>
            <br>
            <a href="{% url 'termin' %}" class="btn btn-secondary"> <i class="fa fa-arrow-left"> </i> Promeni datum</a>
        </div>
  </div>
</div>
<br><br><br>

<script>
    const picker = document.getElementById('datum');
    let alertShown = false;

    picker.addEventListener('change', function () {
        const selectedDate = new Date(this.value);

        if (selectedDate.getUTCDay() === 5) { // Friday
            if (!alertShown) {
                alert('Petkom ne radimo!\n');
                alertShown = true;
            }
            // Move to Saturday
            selectedDate.setDate(selectedDate.getDate() + 1);
            this.value = selectedDate.toISOString().split('T')[0];
            setTimeout({
                alertShown = false;
            }, 200)
        }
    });
</script>

{% endblock %}
