{% extends "appointment/base.html" %}
{% block content %}
<br>
<br>
<br>
<br>
<h3 class="w3-center">ZAKAZIVANJE TERMINA </h3><br>
{% if messages %}

    {% for message in messages %}
    <p class="bg-success w3-center p-2 text-white bg-opacity-75 fs-1">{{ message }}</p>
    {% endfor %}

{% endif %}
  
  
<div class="mb-3 row justify-content-md-center ">
    <br>
    <br>
    <div class="col-md-auto shadow-lg p-3 mb-5 bg-body rounded {% if viewname != "termin" %}w3-hide{% endif %}" id="prva-forma" >
        <form method="post">
            {% csrf_token %}
            <select class='w3-select' name="usluga" required="required" id="id_usluga" style="-webkit-appearance: none;">
                <option selected disabled value="">Izaberite uslugu</option>
                {% with value=form.usluga.value %}
                {% for value in form.usluga.field.choices.queryset %}
                <option title="{{value}}" value="{{ value.id }}"{% if value.id == 15 %}disabled{% endif %}>{{ value }}</option>
                {% endfor %}
                {% endwith %}
                </select>
    
                <select class='w3-select' name="frizer" required="required" id="id_frizer" style="-webkit-appearance: none;">
                    <option selected disabled value="">Izaberite frizera</option>
                    {% with value=form.frizer.value %}
                    {% for value in form.frizer.field.choices.queryset %}
                    <option title="{{value}}" value="{{ value.id }}">{{ value }}</option>
                    {% endfor %}
                    {% endwith %}
                </select>
                <input required style=" padding: 20 5; width: 100%; margin-bottom: 4px;" class="form-control " placeholder="Datum vaseg termina" type="date" name="datum" id="datum">
                
                
            <input class="w3-block" type="submit" name="form_filter_button" value="submit"  id="first_form_button">
        </form>
        <br>

    </div>

    <div class="col-md-4 col-l-4 col-sm-auto shadow-lg p-3 mb-5 bg-body rounded {% if viewname != "potvrdi" %}w3-hide{% endif %}" id="druga-forma">
        <form action="" method="post">


            {% csrf_token %}

            <input required style=" padding: 20 5; width: 100%; margin-bottom: 4px;" class="form-control w3-block" placeholder="Ime i Prezime" type="text" name="name" >
            <input required style=" padding: 20 5; width: 100%; margin-bottom: 4px;" class="form-control" placeholder="Broj telefona" type="text" name="broj_telefona" >
            {{ form.vreme }}
            <input required style=" padding: 20 5; width: 100%; margin-bottom: 4px;" class="btn btn-secondary" name="zakazi_termin" type="submit" value="ZAKAŽI">
        </form>
  </div>
</div>
<br><br><br>

{% endblock %}