{% extends 'appointment/base.html' %}
{% block content %}

    <br>
    <div class="w3-margin w3-center">
        <br>
        
        <div class="w3-bar w3-black w3-medium">
            <a href="{% url 'krace-moderne' %}" class="w3-bar-item w3-button">Kraće moderne</a>
            <a href="{% url 'duze-moderne' %}" class="w3-bar-item w3-button">Duže moderne</a>
            <a href="{% url 'decije-frizure' %}" class="w3-bar-item w3-button">Dečije frizure</a>
            <a href="{% url 'tribali' %}" class="w3-bar-item w3-button">Tribali</a>
          </div>
    </div>


    {% block slike %}

    {% endblock %}
    
{% endblock %}