{% extends "appointment/base.html" %}

{% block content %}
<br>
<br>
<div class="w3-margin mb-3 row justify-content-center" >
    <div class="col-md-auto col-sm-auto col-lg-4 shadow-lg p-3 mb-5 bg-body rounded ">
        <h3 class="w3-center w3-margin" >Oporavak lozinke</h3>

{% if validlink %}

{% if form.errors %}
    <p class="p-5 fs-2 text-bg-danger " style="border-radius: 5px;">Lozinka mora biti duzine 8 karaktera. <br>Unesite dva puta novu lozinku.</p>
{% endif %}


<form method="post">
    {% csrf_token %}
    <label>Nova lozinka</label>
    <input class="form-control" type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
    
    <label>Potvrdite Lozinku</label>
    <input class="form-control" type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
    <br>
    <p><input class="btn btn-info"  type="submit" value="Promeni lozinku" /></p>
</form>
{% else %}
<p>Link za oporavan lozinke je nevazeci, molimo pokusajte ponovo</p>
{% endif %}
</div>
</div>
{% endblock %}
