{% extends 'appointment/base.html' %}
{% load static %}
{% load socialaccount %}
{% block content %}
    <br>
    <br>
    <br>
    <br>
    <h4 class="w3-center my-1">Prijavite se </h4>
    <br>
    <div class="w3-center my-3">
    <a class="w3-center google-button py-3 px-5" href="{% provider_login_url 'google' %}?next=/">
        <img src="/static/images/google-logo.svg" height=30 width=30>
        Prijavi se uz pomoć Google</a>
        <div class="d-flex mt-4">
            <div class="linija col-xs-5"></div>

    <h5 class="col-xs-2">ili</h5>
    <div class="linija col-xs-5"></div>
        </div>
    </div>
    {%if messages%}
    {% for message in messages %} 
        <p class="w3-center p-2 text-white bg-opacity-75 fs-1 bg-{{ message.tags }}">{{ message }}</p>
    {% endfor %}
    {% endif %}
    
 <div class="w3-margin mb-3 row justify-content-center">
    <div class="col-md-auto col-sm-auto col-lg-4 shadow-lg p-3 mb-5 bg-body rounded ">
     <form method="POST">
    {% csrf_token %}
    <br>

    <label>Korisnicko ime: </label>

    <input type="text" name="username" id="id_username" class="w3-select mt-4 " required>
         <br>

    <br>

    <label>Lozinka:</label>
    <div class="d-flex flex-row w3-select">
        <input
        type="password" name="password" id="id_password" class="w3-select" required style="border:none;" />
        <button type="button" onclick="change()" id="show" style="border: none; background:none;">
            <i class="fa-solid fa-eye"></i>
        </button>
      </div>
  
    <!-- <input type="password" name="password" id="id_password" class="w3-select" required> -->
    <br>
    <br> 
        {% if form.errors %}
        {% for key, value in form.errors.items %}
            <div class="alert alert-danger">
                {{ value }}
            </div>
        {% endfor %}
        {% endif %}
        <p>Nemate nalog? <a href="{% url 'user_register' %}">Registrujte se</a> ovde</p>
        <p>Ako ste zaboravili lozinku kliknite <a href="{% url "password_reset" %}">ovde</a></p>
    <input type="submit" class="btn btn-info" value="Prijavi se" style="margin-top: 16px; width: 100%;">
    </form>
    </div>
</div>

<script>
    var showPassword =  true
    var dugme = document.getElementById('show');
    var pw = document.getElementById('id_password');

    function change() {
      if (showPassword)
        {
            dugme.innerHTML = '<i class="fa-sharp fa-solid fa-eye-slash"></i>';
            showPassword  = !showPassword;
            pw.type = "text";
        }
      else {
        dugme.innerHTML = '<i class="fa-solid fa-eye"></i>'
        showPassword = !showPassword;
        pw.type = "password";
      }
    }

</script>
{% endblock %}