{% extends 'appointment/base.html' %}
{% block content %}

    <br>
    <div class="w3-margin w3-center">
        <br>
        <br>
        <div class="w3-bar w3-black w3-medium">
            <a href="#" class="w3-bar-item w3-button">Frizure</a>
            <a href="#" class="w3-bar-item w3-button">Brade</a>
            <a href="#" class="w3-bar-item w3-button">Fejdovi</a>
            <a href="#" class="w3-bar-item w3-button">Duga kosa</a>
          </div>
    </div>
    <br>

    {% block slike %}

    {% endblock %}

{% endblock %}