{% extends 'galerija/galerija.html' %}
{% block slike %}

<div class="carousel">
	{% for sl in slike %}

	<div class="carousel-cell" style="background-image: url('media/{{sl.slika}}'); background-repeat: no-repeat; background-size: contain; background-position: center;">
	{% if user.is_staff %}
		<a class="w3-white w3-opacity" href="{% url 'brisanje' sl.id %}" onclick="return confirm('Da li zelite da izbrisete ovu sliku ?');" style="margin: 20px;  padding: 20px;"> <i class="fa-sharp fa-solid fa-trash w3-white w3-opacity"></i> Ukloni</a>
	{% endif %}
	</div>
	{% endfor %}
</div>

	<script>
		
		var flkty = new Flickity('.carousel');

		var previousButton = document.querySelector('.button--previous');
		previousButton.addEventListener( 'click', function() {
		  flkty.previous();
		});

		var previousWrappedButton = document.querySelector('.button--previous-wrapped');
		previousWrappedButton.addEventListener( 'click', function() {
		  flkty.previous( true );
		});

	</script>
	<br>
	{% if user.is_staff %}
	<div class="container">
		<div class="form-group">
    	<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<label>Izaberite kategoriju:</label>
			{% for fild in form.visible_fields %}
				<p class="w3-select">{{fild}}</p>
			{% endfor %}
        <input class="btn btn-success" type="submit" value="Dodaj">
    	</form>
		</div>
	</div>
	{% endif %}
    <br>

{% endblock %}